<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <title><%= content_for(:title) || "Sunday Todos" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <%= render 'shared/navbar' %>
    <main class="container mx-auto mt-10 px-5 flex">
      <%= yield %>
    </main>
    <script>
      function setTheme(theme) {
        document.documentElement.setAttribute('data-theme', theme);
        localStorage.setItem('theme', theme);
        updateThemeSelector(theme);
      }

      function applyStoredTheme() {
        const savedTheme = localStorage.getItem('theme');
        if (savedTheme) {
          document.documentElement.setAttribute('data-theme', savedTheme);
          updateThemeSelector(savedTheme);
        }
      }

      function updateThemeSelector(theme) {
        const selector = document.getElementById('theme-selector');
        if (selector) {
          for (let i = 0; i < selector.options.length; i++) {
            if (selector.options[i].value === theme) {
              selector.selectedIndex = i;
              break;
            }
          }
        }
      }

      document.addEventListener("DOMContentLoaded", applyStoredTheme);
      document.addEventListener("turbo:load", applyStoredTheme);
    </script>

  </body>
</html>
